/*
Custom Css
*/
.galerija-modal-div{
    display: block;
    width: 40%;
    height: 50em;
    padding-left: 5%;
    padding-top: 1em;
    overflow-y: scroll;
}
.galerija-modal-div>img{
    display: block;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}
@media (max-width:730px) {
    .galerija-modal-div{
        flex-flow: column;
    width: 80%;
    height: auto;
    padding-left: 5%;
    padding-top: 1em;
    }
    .galerija-modal-div>img{
        display: inline-flex;
        width: 30%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
.galerija-modal{
}

    
