/*
Custom Css
*/
.galerija-modal-div{
    display: block;
    width: 40%;
    height: 50em;
    padding-left: 5%;
    padding-top: 1em;
    overflow-y: scroll;
}
.galerija-modal-div>img{
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.close-button{
    font-size: 1.5em;
    margin-right: 0.3em;
}
@media (max-width:730px) {
    .galerija-modal-div{
        flex-flow: column;
    width: 80%;
    height: auto;
    padding-left: 5%;
    padding-top: 1em;
    }
    .galerija-modal-div>img{
        display: inline-flex;
        width: 45%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .close-button{
        font-size: 2.5em;
        margin-right: 1em;
    }
    .close{
        
    display: block;
    width: 1.5em;
    height: 2em;
    }
}
.galerija-modal{
}

    
